body {
  background-color: #f0f2f5;
}

.app-title {
  color: #fff;
}

.no-items {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
}

span.completed {
  text-decoration: line-through;
}

.add-task {
  text-align: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
